body {
  padding-top: 60px;
}

/* Adds new line to the blog content, if there's one */
#content {
  white-space: pre-wrap;
}

.author-border-left {
  border-left: 5px solid #33b5e5;
}

.author-bottom-border {
  border-bottom: 2px solid #33b5e5;
}

.excerpt_border {
  border-bottom: 2px solid #33b5e5;
}
